/* You can add global styles to this file, and also import other style files */
body {
    color: #776e65;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    transform: translate(0, -30%);
    text-align: center;
  }
